<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [1]:
#Import the required libraries
import pandas as pd

In [2]:
#Import the advertising dataset
ad_dataset = pd.read_csv('Advertising Budget and Sales.csv',index_col = 0)

#### 2: Analyze the dataset

In [3]:
#View the initial few records of the dataset
ad_dataset.head(5)

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [6]:
#Check the total number of elements in the dataset
ad_dataset.size

800

#### 3: Find the features or media channels used by the firm

In [7]:
#Check the number of observations (rows) and attributes (columns) in the dataset
ad_dataset.shape

(200, 4)

In [8]:
#View the names of each of the attributes
ad_dataset.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [4]:
#Create a feature object from the columns
x_features = ad_dataset[['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)']]

In [14]:
#View the feature object
x_features.head(2)

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1             230.1                 37.8                     69.2
2              44.5                 39.3                     45.1

In [5]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
y_target = ad_dataset[['Sales ($)']]

In [17]:
#View the target object
y_target.head(2)

   Sales ($)
1       22.1
2       10.4

In [18]:
#Verify if all the observations have been captured in the feature object
x_features.shape

(200, 3)

In [19]:
#Verify if all the observations have been captured in the target object
y_target.shape

(200, 1)

#### 5: Split the original dataset into training and testing datasets for the model

In [6]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn import model_selection
x_train,x_test,y_train,y_test = model_selection.train_test_split(x_features,y_target)

In [7]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print( x_train.shape, x_test.shape,y_train.shape, y_test.shape)

(150, 3) (50, 3) (150, 1) (50, 1)

#### 6: Create a model  to predict the sales outcome

In [8]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()

In [9]:
#Print the intercept and coefficients 
linreg.fit(x_train,y_train)
print(linreg.intercept_)
print(linreg.coef_)

[2.86974991]
[[0.04695019 0.18291889 0.00168237]]

In [19]:
#Predict the outcome for the testing dataset
y_pred = linreg.predict(x_test)
y_pred

array([[15.92374618],
       [21.72420631],
       [21.10680934],
       [18.99860209],
       [18.54770341],
       [15.59996805],
       [10.17302935],
       [10.04039991],
       [12.88653076],
       [17.4107635 ],
       [14.16467682],
       [ 8.85218661],
       [ 9.84818169],
       [14.1818047 ],
       [ 8.95213921],
       [11.80716706],
       [20.33631886],
       [ 7.49524343],
       [16.3214523 ],
       [ 9.66069564],
       [ 4.54242173],
       [15.41676517],
       [11.37819527],
       [ 9.76330976],
       [11.41815407],
       [12.76165264],
       [ 8.20238728],
       [14.95965287],
       [15.25939723],
       [12.87565581],
       [15.1599001 ],
       [14.98814635],
       [20.85804462],
       [18.17390753],
       [14.28092543],
       [17.87995775],
       [12.18985807],
       [13.85184214],
       [24.88531327],
       [12.34665845],
       [ 5.36326362],
       [19.39305855],
       [11.22115727],
       [12.80433534],
       [ 7.37007392],
       [23.0404958 ],
       [16.98610111],
       [15.56256608],
       [18.23762203],
       [21.44772644]])

#### 7: Calculate the Mean Square Error (MSE)

In [15]:
#Import required libraries for calculating MSE (mean square error)
from sklearn.metrics import mean_squared_error
import numpy as np

In [16]:
#Calculate the MSE
mse = mean_squared_error(y_test,y_pred)
print(np.sqrt(mse))

1.5382653052636723